.link {
    padding: 0.5rem 2rem;
    text-decoration: none;
    font-size: 1.25rem;
    color: #6c757d;
  }
  
  .link:hover {
    background-color: #f8f9fa; /* Light grey background on hover */
  }
  
  .link.active {
    background-color: #f8f9fa; /* Light grey background when active */
    border-right: 3px solid #343a40; /* Dark border on the right when active */
  }
  .link.inactive {
    background-color: #f8f9fa;
  }
  @media (min-width: 768px) {
    .sticky-container {
      position: sticky;
      top: 0;
      margin-inline-start: 4rem;
      border-right: 3px solid #ccc; /* Grey border on the right */
      position: absolute;
      padding-top: 2rem !important;
    }
    .sticky-container.active {
      position: absolute;
    }
    
    
  }
  